<header id="header">
  <div class="header-inner flex wrapper space-between">
    <button class="menu-button" @click="toggleMenu">
      <span>Menu</span>
    </button>

    <a href="/" class=logo><h1>{{ 'general.title' | t }}</h1></a>
  
    <nav class="header-nav">
        <ul class="header-menu flex space-between">
            {% for link in linklists.main-menu.links %}
                <li>
                    <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>

    <div class="cart-button-container" @click="toggleMiniCart">
      <button class="cart-button">
        <span>
            <img src="{{ 'cart.png' | asset_img_url: '60x' }}" alt="your cart">
            <template class="cart-item-count" v-if="cart">
              ${cart.item_count}
            </template>
        </span>
      </button>
    </div>

  </div>

  <div class="menu-drawer" :class="{ hidden: menuDrawer }">
    {% render 'menu-drawer' %}
  </div>

  <div class="mini-cart" :class="{ hidden: miniCart }">
    <button class="mini-cart-close" @click="toggleMiniCart">
      Close
    </button>
    {% render 'mini-cart' %}
  </div>
  <div class="outside" v-if="!miniCart || !menuDrawer" @click="closeAllDrawers"></div>
</header>

<script>

  if (document.querySelector('#header')) {

    const headerCart = Vue.createApp({
      delimiters: ['${', '}'],
      data() {
        return {
          cartData: store.state.cartState
        }
      },
      methods: {
        toggleMiniCart() {
          toggleMiniCart.openCart()
        },
        toggleMenu() {
          toggleMenu.openMenu()
        },
        closeAllDrawers() {
          toggleClose.closeAll()
        },
        decrement(item) {
          const data = {
            "id": item.key,
            "quantity": item.quantity - 1
          }

          axios.post('/cart/change.js', data)
            .then(res => {
              store.getCart()
            })
            .catch(err => console.log(err))
        },
        increment(item) {
          const data = {
            "id": item.key,
            "quantity": item.quantity + 1
          }

          axios.post('/cart/change.js', data)
            .then(res => {
              store.getCart()
            })
            .catch(err => console.log(err))
        },
        money(value) {
          if (!value) return 0
          return "$" + (value/100)
        }
      },
      computed: {
        miniCart() {
          return miniCartState.hidden
        },
        menuDrawer() {
          return menuState.hidden
        },
        cart() {
          return this.cartData[0]
        }
      },
      created() {
        store.getCart()
      }
    }).mount('#header')
  }
</script>