<header id="header">
  <div class="header-inner flex wrapper space-between">

    <div class="menu-drawer">
      <button class="menu-button">
        <span>Menu</span>
      </button>
    </div>

    <a href="/" class=logo><h1>{{ 'general.title' | t }}</h1></a>
  
    <nav class="header-nav">
        <ul class="header-menu flex space-between">
            {% for link in linklists.main-menu.links %}
                <li>
                    <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>

    <div class="cart-button-container" @click="toggleMiniCart">
      <button class="cart-button">
        <span>
            <img src="{{ 'cart.png' | asset_img_url: '60x' }}" alt="your cart">
            <template class="cart-item-count" v-if="cart">
              ${cart.item_count}
            </template>
        </span>
      </button>
    </div>

  </div>

    <div class="mini-cart" :class="{ hidden: miniCart }">
      {% render 'mini-cart' %}
    </div>
  
</header>

<script>

  if (document.querySelector('#header')) {

    const headerCart = Vue.createApp({
      delimiters: ['${', '}'],
      data() {
        return {
          cartData: store.state.cartState
        }
      },
      methods: {
        toggleMiniCart() {
          toggleMiniCart.openCart()
        }
      },
      computed: {
        miniCart() {
          return miniCartState.hidden
        },
        menuDrawer() {
          return menuState.hidden
        },
        cart() {
          return this.cartData[0]
        }
      },
      created() {
        store.getCart()
      }
    }).mount('#header')
  }
</script>