<div class="menu-drawer-inner">
  <nav class="side-nav">
    <ul class="side-nav-menu">
        {% for link in linklists.footer.links %}
        <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>