<div class="container">
  <div class="collection">
    <h2 class="collection-title">all items</h2>
    <div class="collection-list flex space-between">
      {% render 'product-card' for collection.products as product %}
    </div>
  </div>
</div>
